<h1>Public Recipes List</h1>

<% @recipes.each do |recipe| %>
  <div>
    <h3><%= recipe.name %></h3>
    <p>Preparation Time: <%= recipe.preparation_time %> minutes</p>
    <p>Cooking Time: <%= recipe.cooking_time %> minutes</p>
    <p>Description: <%= recipe.description %></p>
  </div>
<% end %>
